# CMake and Makefiles
**/CMakeFiles
**/CMakeCache.txt
**/Makefile
**/*.cmake

# Execution results
**/*.trace
**/*.pdf

# Executables
**/master-workers
**/master-workers-lab1
**/master-workers-lab2
**/ping-pong

